name: koders_assesment
description: "A Flutter assessment app demonstrating clean MVVM architecture with GetX state management."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  
  # State Management
  get: ^4.6.6
  
  # Network
  dio: ^5.4.0
  
  # Local Storage
  get_storage: ^2.1.1
  
  # UI Components
  cupertino_icons: ^1.0.8
  flutter_spinkit: ^5.2.1
  cached_network_image: ^3.3.1
  
  # Utils
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
